@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1534996858221-380b92700493?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}

.card {
  height: 300px;
  width: 350px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bottom {
  height: 40%;
  width: 100%;
  background: linear-gradient(transparent, #000);
  position: absolute;
  bottom: -40%;
  transition: all ease 0.3s;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom h4 {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

.bottom h3 {
    width: 30px;
    height: 30px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom button {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: orange;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
.card:hover .bottom{
  bottom: 0%;
}


